@import "./base.css";

html {
  height: 100%;
  overflow: hidden !important;
}

body {
  height: 100%;
  overflow: hidden !important;
}

#app {
  height: 100%;
  overflow: hidden !important;
}

.v-application {
  height: 100%;
  overflow: hidden !important;
}

.v-application__wrap {
  height: 100%;
  overflow: hidden !important;
}

.v-main {
  height: 100%;
  overflow: hidden !important;
}

.v-card-actions {
  justify-content: space-between;
}
